.home {
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 968px) {
            flex-direction: column;
        }
    }

    &__part {
        width: calc(50% - 10px);
        min-height: 250px;
        height: max-content;

        @media (max-width: 968px) {
            width: 100%;
        }
    }
}